@import url("https://fonts.googleapis.com/css?family=Montserrat|Courgette");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,h2,h3,h4 {
  font-family: "Courgette", cursive;
  color: #7D141D;
}

.footer {
  background-color: #C4AAAF;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer p {
  font-size: 12px;
  margin-top: 15px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-list li {
  margin: 0 10px;
}

.fab {
  color: #B9505C;
  font-size: 30px;
}

.fab:hover {
  color: #7D141D;
}

.header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.nav-btn.open {
  background-color: #7D141D;
  color: #C4AAAF;
}

.nav-btn.open:hover {
  background-color: #C4AAAF;
  color: #7D141D;
}

.nav-btn.close {
  background-color: #C4AAAF;
  color: #7D141D;
}

.nav-btn.close:hover {
  background-color: #7D141D;
  color: #C4AAAF;
}

.header-nav {
  background-color: #C4AAAF;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 2.8;
  font-size: 18px;
}

.header-nav-list li {
  width: 100%;
}

.header-nav-list a {
  display: block;
  color: #7D141D;
  font-weight: 600;
  text-align: center;
}

.header-nav-list a:hover {
  color: #C4AAAF;
  background-color: #7D141D;
}

.hidden {
  display: none;
}

.header-title {
  text-align: center;
  padding: 20px 0;
}

.header-title h1 {
  font-size: 75px;
}

.page {
  background-color: rgba(255, 255, 255, 0.8);
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main h3 {
  padding-bottom: 20px;
  text-align: center;
}

.about-me {
  background-color: rgba(196, 170, 175, 0.5);
  padding: 40px 20px 40px 20px;
  line-height: 1.5;
}

.about-me p {
  padding-bottom: 20px;
  text-align: justify;
}

.about-me p:last-child {
  padding-bottom: 0;
}

.about-me a {
  color: #7D141D;
}

.about-me a:hover {
  color: #B9505C;
}

.about-me-hello {
  font-weight: 600;
}

.skills {
  padding: 20px 20px 40px 20px;
  width: 100%;
}

.skills ul {
  text-align: center;
}

.projects {
  background-color: rgba(196, 170, 175, 0.5);
  padding: 20px 20px 40px 20px;
  line-height: 1.5;
  width: 100%;
}

.projects h4 {
  margin-left: 15px;
}

.projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  position: relative;
  margin: 20px;
}

.project-box img {
  width: 250px;
  height: 130px;
  -o-object-fit: cover;
  object-fit: cover;
}

.project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-description p {
  font-size: 12px;
  color: black;
}

.project-description p:first-child {
  margin-top: 10px;
}

.contact {
  padding: 20px 20px 40px 20px;
  line-height: 1.5;
  text-align: center;
  width: 100%;
}

.contact a {
  color: #7D141D;
  font-weight: 600;
}

.contact a:hover {
  color: #C4AAAF;
}

.anchor {
  height: 50px;
}

@media all and (min-width: 768px) {
  .main {
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 10px lightgrey;
    box-shadow: 5px 5px 10px lightgrey;
  }

  .main h3 {
    font-size: 24px;
    padding-bottom: 30px;
  }

  .about-me {
    background-color: transparent;
    padding: 40px;
  }

  .about-me p {
    font-size: 18px;
  }

  .skills {
    font-size: 18px;
  }

  .projects {
    background-color: transparent;
  }

  .projects h4 {
    margin-left: 20px;
    font-size: 20px;
  }

  .project-description p {
    font-size: 14px;
  }

  .contact {
    font-size: 18px;
  }
}

@media all and (min-width: 1024px) {
  .main {
    margin: 40px;
  }

  .main h3 {
    font-size: 28px;
    padding-bottom: 40px;
  }

  .about-me {
    padding: 40px 60px;
  }

  .projects h4 {
    margin-left: 50px;
    font-size: 24px;
  }

  .projects h4 {
    margin-left: 100px;
    margin-bottom: 20px;
  }

  .project-description {
    width: 250px;
    height: 130px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .project-description p {
    font-size: 0;
  }

  .project-description:hover {
    background-color: rgba(196, 170, 175, 0.9);
  }

  .project-description:hover p {
    font-size: 16px;
    color: #7D141D;
    text-align: center;
  }
}

@media all and (min-width: 1440px) {
  .main {
    margin: 150px;
  }

  .about-me {
    padding: 40px 100px;
  }
}

/*# sourceMappingURL=main.css.map */
