$primary-color: #7D141D;
$secondary-color: #C4AAAF;
$secondary-color-opacity: rgba(196, 170, 175, 0.5);
$secondary-color-projects: rgba(196, 170, 175, 0.9);
$terciary-color: #B9505C;


$title-font: 'Courgette', cursive;
$text-font: 'Montserrat', sans-serif;