.footer {
    background-color: $secondary-color;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & p {
        font-size: 12px;
        margin-top: 15px;
    }
}

.footer-list {
    display: flex;
    & li {
        margin: 0 10px;
    }
}

.fab {
    color: $terciary-color;
    font-size: 30px;
    &:hover {
        color: $primary-color;
    }
}