.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-bar {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    &.open {
        background-color: $primary-color;
        color: $secondary-color;
        &:hover {
            background-color: $secondary-color;
            color: $primary-color;
        }
    }
    &.close {
        background-color: $secondary-color;
        color: $primary-color;
        &:hover {
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
}

.header-nav {
    background-color: $secondary-color;
    flex-grow: 1;
}

.header-nav-list {
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.8;
    font-size: 18px;
    & li {
        width: 100%;
    }
    & a {
        display: block;
        color: $primary-color;
        font-weight: 600;
        text-align: center;
        &:hover {
            color: $secondary-color;
            background-color: $primary-color;
        }
    }
    @media all and (min-width: 768px) {
        flex-direction: row;
        width: 75%;
        & a {
            padding: 0 20px;
        }
    }
}

.hidden {
    transform: translateX(100%);
    transition: transform ease 1s;
}

.header-title {
    text-align: center;
    padding: 20px 0;
    & h1 {
        font-size: 75px;
    }
}